.detailPage{
    background-color: rgb(231, 228, 228);
    border-top:  rgb(231, 228, 228);
    margin-top: 70px;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px ;
    
}

.bg-row{
    background-color: white;
    
}

.margin{
    margin-top:10px;
    
}
.padding{
    padding: 5px 20px 5px 20px;
}
.text{
    text-align: center;
    
}
.contentPhu{
    font-size: 18px;
    color: #beb7b7e5;
}

.fa-custome{
    color:  #beb7b7e5;
    
}