.ten-project{
    color: #55a2d6;
    font-family: Helvetica;
}
.navBarDetail{
    background-color: white;
    padding: 0px 150px 0px 150px;
}
.detailPage{
    background-color: rgb(231, 228, 228);
    border-top:  rgb(231, 228, 228);
    margin-top: 70px;
    height: inherit;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px ;
    
}
.centerCol{
    max-width: 1050px;
    display: flexbox;
}
.leftCol{
    flex: 2;
    margin-right: 10px;
    max-width: 1050px;
    display: flexbox;
}
.rightCol{
    flex: 1;
    display: flexbox;
    max-width: 350px;
    margin-left: 10px;
}

.bg-row{
    background-color: white;
    
}

.margin{
    margin-top:10px;
    
}
.padding{
    padding: 5px 20px 5px 20px;
}
.text{
    text-align: center;
    
}
.contentPhu{
    font-size: 18px;
    color: #beb7b7e5;
}

.fa-custome{
    color:  #beb7b7e5;
    
}

.badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}


.action{
    margin-right: 20px;
}
