#components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
.ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
.site-layout-background {
    background: #fff;
  }

  .ant-list-item:hover {
    box-shadow: 0 0 4px #eee;
  }
  .ten-project{
    color: #55a2d6;
    font-family: Helvetica;
}

