
.back {
    background-image: url("./../img/landingpage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.curved-div svg {
    display: block;
}

.message {
    margin-top: 60px;
}
