.content-header-student-title {
    font-family: Arial;
    font-weight: 700;
    color:white
}

.content-header-student{
    box-shadow: 0 3px 6px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    background: #2596be;
    background: -moz-linear-gradient(-45deg, #2596be 0%, #2bbaed 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #2bbaed), color-stop(100%, #2596be));
    background: -webkit-linear-gradient(-45deg, #2596be 0%, #2bbaed 100%);
    background: -o-linear-gradient(-45deg, #2596be 0%, #2bbaed 100%);
    background: -ms-linear-gradient(-45deg, #2596be 0%, #2bbaed 100%);
    background: -webkit-linear-gradient(315deg, #2596be 0%, #2bbaed 100%);
    background: -o-linear-gradient(315deg, #2596be 0%, #2bbaed 100%);
    background: linear-gradient(135deg, #2596be 0%, #2bbaed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2596be', endColorstr='#2bbaed', GradientType=1 );
    color: #fff;
}